<div id="theme-selection">
    <button id="toggle-themes-button">Theme</button>
    <button class="theme-button" data-theme-button="light"       id="light-button"      ></button>
    <button class="theme-button" data-theme-button="dark"        id="dark-button"       ></button>
    <button class="theme-button" data-theme-button="red"         id="red-button"        ></button>
    <button class="theme-button" data-theme-button="pink"        id="pink-button"       ></button>
    <button class="theme-button" data-theme-button="blue"        id="blue-button"       ></button>
    <button class="theme-button" data-theme-button="light blue"  id="light-blue-button" ></button>
    <button class="theme-button" data-theme-button="green"       id="green-button"      ></button>
    <button class="theme-button" data-theme-button="light green" id="light-green-button"></button>
    <button class="theme-button" data-theme-button="purple"      id="purple-button"     ></button>
    <button class="theme-button" data-theme-button="lavender"    id="lavender-button"   ></button>
    <button class="theme-button" data-theme-button="orange"      id="orange-button"     ></button> 
    <button class="theme-button" data-theme-button="yellow"      id="yellow-button"     ></button>
</div>